<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.full_title %}
    <title>{{ page.full_title|raw }}</title>
    {% else %}
    <title>{{ page.title }} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{{ site.url }}/favicon.ico">
    <link rel="stylesheet" href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.url }}/css/style.css?v={{ site.assets_version }}">
    <link rel="stylesheet" href="{{ site.url }}/components/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header class="site">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.url }}/">
                        Sculpin
                        <span class="site-mascot" href="{{ site.url }}/mascot/"></span>
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if page.nav_name == "home" %} class="active"{% endif %}>
                            <a href="{{ site.url }}/">Home</a>
                        </li>
                        <li {% if page.nav_name == "documentation" %} class="active"{% endif %}>
                            <a href="{{ site.url }}/documentation/">Documentation</a>
                        </li>
                        <li {% if page.nav_name == "download" %} class="active"{% endif %}>
                            <a href="{{ site.url }}/download/">Download</a>
                        </li>
                        <li {% if page.nav_name == "community" %} class="active"{% endif %}>
                            <a href="{{ site.url }}/community/">Community</a>
                        </li>
                        <li>
                            <a href="https://github.com/sculpin/sculpin">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% if page.nav_name == "home" %}
        <section class="site-meta">
            <div class="container">
                <div class="site-mascot">
                    <a class="ir" href="{{ site.url }}/mascot/">Meet Jackson, the Sculpin mascot</a>
                </div>
                <div class="site-title">
                    <a href="{{ site.url }}/">Sculpin</a>
                </div>
                <div class="site-subtitle">
                    <a href="{{ site.url }}/">Static Site Generator</a>
                </div>
            </div>
        </section>
        <hr class="site-meta">
    {% endif %}
    <section class="content">
        <div class="container">
            {% block content %}Fallback content. :){% endblock %}
        </div>
    </section>
    <footer class="site">
        <div class="container">
            {% block footer %}
                <div class="mascot">
                    <a class="ir" href="{{ site.url }}/mascot/">Meet Jackson, the Sculpin mascot</a>
                </div>
                <div class="social">
                    <ul>
                        <li>
                            <a href="https://github.com/sculpin"><i class="icon icon-github"></i> sculpin</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/getsculpin"><i class="icon icon-twitter"></i> @getsculpin</a>
                        </li>
                        <li>
                            <a href="irc://irc.freenode.net/%23sculpin"><i class="icon icon-comment"></i> #sculpin</a>
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    &copy;<a href="http://dflydev.com/">Dragonfly Development Inc</a>, 2011
                </div>
            {% endblock %}
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{site.url}}/components/jquery/jquery.min.js"><\/script>')</script>
    <script defer src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
    {% if site.google_analytics_tracking_id %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{  site.google_analytics_tracking_id }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
</body>
</html>
